<div class="button-row">
  <button (click)="unlockBlue()">🔵 Blau zurück</button>
  <button (click)="unlockGreen()">🟢 Grün zurück</button>
  <button (click)="unlockRed()">🔴 Rot zurück</button>
</div>

<div class="circle-row">
  <div></div>
</div>
<ul>
  <li>blue -> green -> red</li>
  <li>test</li>
  <li>test 2</li>
  <li>test 3</li>
</ul>
<h1>r0 g255 b0</h1>
<svg width="100" height="100" class="green" xmlns="http://www.w3.org/2000/svg">
  <rect x="20" y="20" width="60" height="60" stroke-width="4" fill="none" />
</svg>
<h1>0 0 255</h1>
<svg width="100" height="100" class="blue" xmlns="http://www.w3.org/2000/svg">
  <rect x="20" y="20" width="60" height="60" stroke-width="4" fill="none" />
</svg>
<h1>r255 g0 b0</h1>
<svg width="100" height="100" class="red" xmlns="http://www.w3.org/2000/svg">
  <rect x="20" y="20" width="60" height="60" stroke-width="4" fill="none" />
</svg>
<h1>r255 g255 b0</h1>
<svg width="100" height="100" class="yellow" xmlns="http://www.w3.org/2000/svg">
  <rect x="20" y="20" width="60" height="60" stroke-width="4" fill="none" />
</svg>
<h1>r255 g0 b255</h1>
<svg width="100" height="100" class="purple" xmlns="http://www.w3.org/2000/svg">
  <rect x="20" y="20" width="60" height="60" stroke-width="4" fill="none" />
</svg>
